@font-face {
    font-family: 'Inter';
    src: url('../../../fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: 400 600 700;
    font-style: normal;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0 !important;
    border-color: #2A2A2A;
}

tr {
    border-color: #2A2A2A !important;
}

th,
td {
    border: 2px solid #2A2A2A;
    text-align: center;
    font-size: 16px;
    line-height: 1;
    height: 30px;
}

th {
    font-weight: 500 !important;
}

td:first-child {
    text-transform: capitalize;
}

.transactions-thead {
    background-color: #2A2A2A;
    color: #FFF;
    line-height: 1;
 
}